* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #DFE3EE
}

body {
  background-color: #DFE3EE
}

#frame {
  background-color: #3B5998;
  width: 60%;
  margin: 50px auto auto auto;
  height: 400px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 10px;
}

#frame h1 {
  text-align: center;
  margin-bottom: 30px;
  background-color: #3B5998;;
  color: #F7F7F7;
}

.btn {
  width: 150px;
}

.section {
  text-align: center;
  background-color: #3B5998;
}

.meal {
  width: 75%;
  background-color: #F7F7F7;
  border: 2px solid rgb(206, 206, 206);
  margin: auto;
  padding: 5px;
}

#frame #dessert {
  text-align: center;
}

span {
  margin-left: 30px;
  background-color: #F7F7F7
}
